<% include ./partials/header %>

<div class="row">
    <div class="col-md-12">
        <form class="form-signin" action="/register" method="POST">
          <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
          <label for="inputUsername" class="sr-only">User Name</label>
          <input type="text" id="inputUsername" class="form-control" name="username" placeholder="User Name" required autofocus>
          
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
          
          <label for="name" class="sr-only">Name</label>
          <input type="text" id="name" class="form-control" name="firstName" placeholder="Name" required>
          
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email Address" required>
          
          <label for="avatar" class="sr-only">Avatar</label>
          <input type="text" id="avatar" class="form-control" name="avatar" placeholder="Avatar Image Url">
          
          <label for="adminPassword" class="sr-only">Admin Code</label>
          <input type="password" id="adminPassword" class="form-control" name="adminCode" placeholder="Admin Code (optional)">
          
          <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
        <div class="form-signin">
            <a href="/surfspots">Back</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>
