<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to YelpSurf</h1>
        <p>View our hand-picked surf spots</p>
        <p><a class="btn btn-primary btn-lg" href="/surfspots/new">Add New Surf Spot</a></p>
    </div>
</header>

<div class="row text-center">
    <% surfspots.forEach(function(surfspot) { %>
        <div class="col-lg-3 -md-4 col-sm-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="<%= surfspot.image %>" alt="<%= surfspot.name %>">
              <div class="card-body">
                <h5 class="card-title"><%= surfspot.name %></h5>
                <a href="/surfspots/<%= surfspot._id %>" class="btn btn-primary">More Info</a>
              </div>
            </div>
        </div>
    <% }); %>
</div>




<% include ../partials/footer %>
