<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to YelpSurf</h1>
        <p>View our hand-picked surf spots</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/surfspots/new">Add New Surf Spot</a>
        </p>
    </div>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% surfspots.forEach(function(surfspot) { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= surfspot.image %>">
                <div class="caption">
                    <h4><%= surfspot.name %></h4>
                </div>
                <p>
                    <a href="/surfspots/<%= surfspot._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
    <% }); %>
</div>




<% include ../partials/footer %>
